* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
   
}

html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to left, #66ffff, #66ccff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 60vh;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    margin: 5px;
    color: #fff;
}

.box h1 {
    font-size: 8rem;
    font-weight: normal;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    flex: 1;
    color: #fff;
    height: 5rem;
    font-size: 1.8rem;
    font-weight: normal;
    margin: 5px;
    letter-spacing: 1px;
    border: none;
}

.minus {
    background: #ff0066;
}

.plus {
    background: #3399ff;
}